@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Serif+Khmer&display=swap");

.katex-mathml {
  display: none;
}

h1 {
  color: white !important;
}
.khmer-font {
  font-family: "Noto Serif Khmer", serif;
}
.mono-font {
  font-family: "JetBrains Mono";
}

.blue {
  color: #2a9d8f;
}
.bg-blue {
  background-color: #2a9d8f;
}
.yellow {
  color: #e9c46a;
}
.bg-yellow {
  background-color: #e9c46a;
}
.red {
  color: #e76f51;
}
.bg-red {
  background-color: #e76f51;
}
.orange {
  color: #f4a261;
}
.bg-orange {
  background-color: #f4a261;
}

/* code > span { */
/*   font-family: "JetBrains Mono"; */
/* } */
